{:source-paths ["src" "node_modules/storage-atom/src" "node_modules/cljs-dopeloop/src"]
 :dependencies [[reagent "1.1.0"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:init-fn poq.main/main!}}
                :release {:output-dir "build/js"}}}}
