/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

:root {
  --color-1: #F7F1ED;
  --color-2: #444349;
  --color-3: #e7ad1b;
}

* {
  box-sizing: border-box;
  font-family: "Courier", monospace;
  font-weight: bold;
  font-size: 24px;
  padding: 0.25em;
  margin: 0.25em;
}

svg text {
  font-family: "Courier", monospace;
  fill: var(--color-1);
  stroke: transparent;
  stroke-width: 2px;
}

svg circle, svg line {
  stroke-width: 2px;
  stroke: var(--color-1);
  fill: "transparent";
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("stardust.png");
}

body {
  color: var(--color-1);
  margin: 0 auto;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: var(--color-2);
  color: var(--color-1);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid var(--color-2);
  padding: 1em;
}

a {
  color: var(--color-3);
  text-decoration: underline;
}

blockquote, q {
  border-left: solid 2px var(--color-2);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

input {
  -webkit-appearance: none;
  border: 2px solid var(--color-2);
  background-color: var(--color-1);
  border-radius: 6px;
}

button {
  background-color: var(--color-1);
  color: var(--color-2);
  border: none;
  min-width: 48px;
  height: 48px;
  border-radius: 6px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  width: 300px;
  background-color: transparent;
  border: 2px solid var(--color-1);
  margin: 0px;
  border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  background: var(--color-1);
  border: 0px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 46px;
  height: 46px;
  background: var(--color-1);
  border: 0px;
  cursor: pointer;
  border-radius: 0px;
}

label {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/*** specific ***/

#loading-image {
  margin: auto;
  width: 400px;
  max-width: 90%;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#app > div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#app > div > * {
  width: 300px;
  align-self: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 0em 0px;
}

#tempo {
  font-size: 1.5em;
}

label > span:first-child {
  float: left;
  margin-bottom: -2em;
}

label > span.right:first-child {
  float: right;
}

button#tap {
  box-shadow: 0 0 0px transparent;
}

button#tap:active {
  animation: 250ms forwards tap-shadow;
}

@keyframes tap-shadow {
  0% {
    box-shadow: 0 0 0px transparent;
  }

  50% {
    box-shadow: 0px 10px 10px white, 0px -10px 10px white;
  }

  100% {
    box-shadow: 0px 20px 10px rgba(255, 255, 255, 0), 0px -20px 10px rgba(255, 255, 255, 0);
  }
}

span#play {
}

span#play svg {
  background-color: var(--color-1);
  border-radius: 64px;
  margin: 0px;
  padding: 0px;
  width: 1.5cm;
  height: 1.5cm;
}
