/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

@import url(fonts/fonts.css);

:root {
  --color-1: #F7F1ED;
  --color-1-shadow: #97928e;
  --color-2: #444349;
  --color-3: #e7ad1b;
  --color-3-shadow: #947B39;
}

* {
  box-sizing: border-box;
  font-family: "Courier Prime", serif;
  font-weight: bold;
  font-size: 24px;
  padding: 0.25em;
  margin: 0.25em;
}

svg text {
  font-family: "Courier Prime", serif;
  fill: var(--color-1);
  stroke: transparent;
  stroke-width: 2px;
}

svg circle, svg line {
  stroke-width: 2px;
  stroke: var(--color-1);
  fill: "transparent";
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("stardust.png");
}

body {
  color: var(--color-1);
  margin: 0 auto;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: var(--color-2);
  color: var(--color-1);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid var(--color-2);
  padding: 1em;
}

a {
  color: var(--color-3);
  text-decoration: underline;
}

blockquote, q {
  border-left: solid 2px var(--color-2);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

input {
  -webkit-appearance: none;
  border: 2px solid var(--color-2);
  background-color: var(--color-1);
  border-radius: 6px;
}

button {
  margin: 0px;
  border: none;
  background-color: var(--color-1);
  color: var(--color-2);
  border-bottom: 4px solid var(--color-1-shadow);
  border-radius: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  margin-top: 4px;
  border-bottom: 0px solid var(--color-1-shadow);
}

.clickable {
  -webkit-tap-highlight-color: transparent;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  width: 100%;
  background-color: transparent;
  border: 2px solid var(--color-1);
  margin: 0px;
  border-radius: 6px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  background: var(--color-1);
  border: 0px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 46px;
  height: 46px;
  background: var(--color-1);
  border: 0px;
  cursor: pointer;
  border-radius: 0px;
}

label {
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

span.icon {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 48px;
  height: 48px;
}

span.icon svg {
  fill: var(--color-1);
  width: 48px;
  height: 48px;
  margin: 0px;
  padding: 0px;
}

/*** specific ***/

#loading-image {
  margin: auto;
  width: 400px;
  max-width: 90%;
}

#app, #help {
  max-width: 600px;
  margin: 0px auto;
  padding: 0px 0.5em;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

#app > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

#app > div, #help > div {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

#help > div {
  margin: auto;
  padding: 0px;
  padding-top: env(safe-area-inset-top);
}

#help > div > div {
  margin: 0px;
  padding: 0px;
}

#help #menu {
  display: flex;
  justify-content: end;
  align-items: start;
}

#help p, #help h3, #help a {
  margin: 1em 0px;
  padding: 0px;
}

#help p {
  font-weight: normal;
}

#help button {
  width: 100%;
  background-color: var(--color-3);
  color: var(--color-2);
  border-bottom: 4px solid var(--color-3-shadow);
}

#help button:active {
  border-bottom: 0px;
}

#help button.ok {
  margin-top: 2em;
  margin-bottom: 3em;
}

#app > div > * {
  width: 100%;
  align-self: center;
}

#app > div > :first-child {
  flex-grow: 1;
  justify-content: end;
  padding-top: env(safe-area-inset-top);
}

#app > div > :last-child {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 0.1em 0px;
  padding: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight {
  color: var(--color-3);
}

#menu {
  margin-top: 8px;
}

#tempo {
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#tempo * {
}

#tempo span {
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 0px;
  margin: 0px;
  padding: 0px 0.75ch;
  cursor: pointer;
}

#tempo span.disabled {
  opacity: 0.5;
}

#tempo #bpm {
  text-align: center;
  min-width: 3.25ch;
  padding: 0px;
  flex-grow: 1;
  font-size: 1.5em;
}

#tempo button {
  min-width: 3.25ch;
}

#tempo button:disabled {
  opacity: 0.5;
}

label > span:first-child {
  float: left;
  margin-bottom: -2em;
}

label > span.right:first-child {
  float: right;
}

button#tap {
  box-shadow: 0 0 0px transparent;
  width: 100%;
}

button#tap:active {
  animation: 250ms forwards tap-shadow;
}

@keyframes tap-shadow {
  0% {
    box-shadow: 0 0 0px transparent;
  }

  50% {
    box-shadow: 0px 10px 10px white, 0px -10px 10px white;
  }

  100% {
    box-shadow: 0px 20px 10px rgba(255, 255, 255, 0), 0px -20px 10px rgba(255, 255, 255, 0);
  }
}

.device-warning {
  font-size: 0.75em;
  line-height: 1em;
  padding-right: 1em;
  min-height: 6ch;
}

button#play {
  border-radius: 64px;
  width: 128px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#play:active {
  height: 60px;
}

button#play svg {
  height: 48px;
  margin: 0px;
  padding: 0px;
}
