/* Hacked together based on:
 * https://jgthms.com/web-design-in-4-minutes/ 
 */

* {
  box-sizing: border-box;
  font-family: "Courier", monospace;
  font-weight: bold;
  font-size: 24px;
  padding: 0.25em;
  margin: 0.25em;
}

svg text {
  font-family: "Courier", monospace;
  fill: var(--color-primary);
  stroke: transparent;
  stroke-width: 2px;
}

svg circle, svg line {
  stroke-width: 2px;
  stroke: var(--color-primary);
  fill: "transparent";
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("stardust.png");
}

:root {
  --color-primary: #F7F1ED;
}

body {
  color: var(--color-primary);
  margin: 0 auto;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 1.5em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: #000;
  color: var(--color-primary);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #000;
  padding: 1em;
}

a {
  color: #000;
  text-decoration: underline;
}

blockquote, q {
  border-left: solid 4px #000;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

input {
  -webkit-appearance: none;
  border: 1px solid black;
  background-color: var(--color-primary);
  border-radius: 0px;
}

button {
  background-color: var(--color-primary);
  color: #444349;
  border: none;
  min-width: 48px;
  height: 48px;
  border-radius: 6px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  width: 300px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  margin: 0px;
  border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  background: var(--color-primary);
  border: 0px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 46px;
  height: 46px;
  background: var(--color-primary);
  border: 0px;
  cursor: pointer;
  border-radius: 0px;
}

label {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/*** specific ***/

#loading-image {
  margin: auto;
  width: 400px;
  max-width: 90%;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#app > div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#app > div > * {
  width: 300px;
  align-self: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin: 0em 0px;
}

#tempo {
  font-size: 1.5em;
}

label > span:first-child {
  float: left;
  margin-bottom: -2em;
}

label > span.right:first-child {
  float: right;
}

button#play {
  bottom: 0px;
  right: 0px;
}
